<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/bcbl_arbitres/src/bcbl/officiel/convocation/ConvocationsOfficiel.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="bcbl.officiel.convocation.ConvocationsOfficiel"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-extract ${workspace_loc}/bcbl_arbitres/tests/Designations_officiels_du_club_20161114.xls -output ${workspace_loc}/bcbl_arbitres/tests/output.html -prolog ${workspace_loc}/bcbl_arbitres/data/prolog.txt -overwrite"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="bcbl_arbitres"/>
</launchConfiguration>